.checkbox {
    width: 16px;
    height: 16px;
    background: url(/static/img/plus.gif);
    display: inline-block;
}

#container {
    width: 800px;
    margin: auto;
    background: #bdf;
    border-radius: 6px;
    padding: 10px;
}

#trackerTable {
    width: 728px;
    margin: auto;
}

#trackerTable td {
    border: 2px solid #bdf;
}

#trackerTable td:last-child {
    border: 2px solid wheat;
}

#trackerTable tr td {
    background: white;
}

#trackerTable tr:nth-child(even) td {
    background: #F5F5DC;
}

#trackerTable tr td:first-child {
    background: #bdf;
}

#trackerTable .trackBox {
    width: 60px;
    height: 40px;
    font-size: 0.8em;
    text-align: center;
    cursor: pointer;
}

#trackerTable tr .goalTitle {
    width: 140px;
    height: 40px;
    text-align: right;
    padding-right: 8px;
}

#trackerTable tr .goalTitle span {
    font-size: 1.1em;
    cursor: pointer;
}
