BeautifulSoup<4.0
Jinja2
South
bpython
coffin>=0.3.8
cssselect
django-nose
django-smtp-ssl
django-social-auth
django==1.5.1
django_compressor
gevent
gunicorn==17.5
lxml
psutil
python-cjson
python-dateutil
raven
redis==2.7.2
