BeautifulSoup<4.0
Jinja2
South
bpython
coffin==0.3.7
cssselect
django-nose
django-smtp-ssl
django-social-auth
django==1.4.4
django_compressor
gevent
gunicorn==0.14.6
lxml
psutil
python-cjson
python-dateutil
raven
redis==2.7.2
