<html>
<head>
    <title>Mike's Goals</title>
    <link rel="stylesheet" type="text/css" href="/static/css/goals.css"/>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/goals.js"></script>
</head>
<body>
    {% if request.user.is_authenticated() %}
        Welcome back, {{ request.user }}!
        <a href="/logout">Logout</a>
        <a href="#" class="newGoal">New Goal</a>
    {% else %}
        <a href="/login">Login</a>
    {% endif %}

    <div id="container">
    <table id="trackerTable">
    {% for goal in goals %}
        <tr>
            <td class="goalTitle" data-goal-id="{{ goal.id }}" data-goal-name="{{ goal.name }}">
                <span class="delete">X</span>
                <span class="name">{{ goal.name }}</span>
            </td>
            {% for date in goal.get_trailing_dates() %}
                <td class="trackBox" data-goal-id="{{ goal.id }}" data-goal-date="{{ date }}">
                {{ date }}
                {% for i in range(goal.get_date_count(date)) %}
                    <div class="checkbox"></div>
                {% endfor %}
                </td>
            {% endfor %}
    {% endfor %}
    </table>
    </div>
</body>
</html>
