<html>
<head>
    <title>Mike's Goals</title>
    <link rel="stylesheet" type="text/css" href="/static/css/goals.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    <script type="text/javascript" src="/static/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="/static/js/goals.js"></script>
</head>
<body>
    <div id="container">
        {% if request.user.is_authenticated() %}
            Welcome back, {{ request.user }}!
            <a href="/logout">Logout</a>
            <a href="#" class="newGoal">New Goal</a>
            {# <a href="/totals">Totals</a> #}
        {% else %}
            <a href="/login">Login</a>
            <a href="/signup">Signup</a>
        {% endif %}
        
        <br/><br/>

        {% block content %}{% endblock %}
    </div>

   

</body>
</html>
