{% extends "base.jinja" %}
{% block content %}
<table id="trackerTable">
{% for goal in goals %}
    <tr>
        <td class="goalTitle" data-goal-id="{{ goal.id }}" data-goal-name="{{ goal.name }}">
            <span class="delete">X</span>
            <span class="name">{{ goal.name }}</span>
        </td>
        {% for date in goal.get_trailing_dates() %}
            <td class="trackBox" data-goal-id="{{ goal.id }}" data-goal-date="{{ date }}">
            {{ date }}
            {% for i in range(goal.get_date_count(date)) %}
                <div class="checkbox"></div>
            {% endfor %}
            </td>
        {% endfor %}
{% endfor %}
</table>
 <div id='new_goal'>
        <form  action='#'>
        <div>Goal<br/> 
            <input type='text' name='name'>
        </div>
        <div>Frequency<br/>
        <select name='frequency'>
            <option value='1'>Daily</option>
            <option value='2'>Weekly</option>
            <option value='3'>Monthly</option>
            <option value='4'>Yearly</option>
        </select>
        </div>
        <div id='buttons'> 
            <input type='submit' value='Create'>
            <input type='button' value='Cancel'>
         </div>
        </form>
</div>
{% endblock %}
