{% extends "base.jinja" %}
{% block extra_css %}
<style type="text/css">
    a.forgot {
        font-size: 0.8em;
    }
</style>
{% endblock %}
{% block inner_header %}Login{% endblock %}
{% block body_class %}login{% endblock %}
{% block content %}
    <p class="text-error">{{ error_msg }}</p>
    <form class="form-inline" action="{% url login %}" method="post">
        {% csrf_token %}
        <input type="email" autocorrect="off" autocapitalize="off" class="input-large" name="email" placeholder="Email" autofocus="autofocus">
        <input type="password" class="input-medium" name="password" placeholder="Password">
        {#<label class="checkbox">
            <input type="checkbox"> Remember me
        </label>#}
        <button type="submit" class="btn">Sign in</button>
        <a class="forgot" href="{% url password_reset %}">forgot password?</a>
    </form>
{% endblock %}
