{% extends "base.jinja" %}
{% block content %}
    <h1>Password reset</h1>
    <p style="width:600px;">
        Forgotten your username or password?
    </p>

    <form action="" method="post" class="form-inline">
        {% csrf_token %}
        {{ form.email.errors|safe }}
        <p><label for="id_email"><strong>Enter your e-mail address:</strong></label> {{ form.email|safe }} <input type="submit" value="Reset my password" /></p>
    </form>
{% endblock %}
