/* http://paulirish.com/2012/box-sizing-border-box-ftw/ */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
    padding-top: 20px;
    padding-bottom: 40px;
}

h3.muted a {
    color: #999;
}

/* Custom container */
.container-narrow {
    margin: 0 auto;
    max-width: 800px;
}
.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    margin: 20px 0;
    text-align: center;
}
.jumbotron h1 {
    font-size: 72px;
    line-height: 1;
}
.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.demo-text {
    text-align: center;
    margin-bottom: -10px;
}

/* Supporting marketing content */
.marketing {
    margin: 60px 0;
}
.marketing p + h4 {
    margin-top: 28px;
}
.subheaders div {
    text-align: justify;
    float: left;
    width: 33%;
    padding-right: 35px;
}
.subheaders div:last-child {
    float: right;
    padding-right: 0px;
}

/* Goals */

a.newGoal {
    font-weight: bold;
}

.check {
    width: 16px;
    height: 16px;
    background: url(/static/img/accept.png);
    display: inline-block;
}

.text-center {
    text-align: center;
}
.logged-out-actions h2 {
    display: inline-block;
}

.inner-header {
}

body.login .logged-out-actions, body.signup .logged-out-actions {
    display: none;
}

div.error {
    background: red;
}

#trackerTable {
    width: 728px;
    margin: 10px auto;
}

#trackerTable td.frequency-header {
    font-size: 0.8em;
    background: #bdf;
    text-align: center;
}

#trackerTable td {
    border: 2px solid #bdf;
}

#trackerTable td.current {
    font-weight: bold;
}

#trackerTable td.subtle {
}

#trackerTable td.subtle .check {
    opacity: 0.7;
}

#trackerTable tr td {
    background: white;
}

#trackerTable tr.odd td {
    background: #F5F5DC;
}

#trackerTable tr td:first-child {
    background: #bdf;
}

#trackerTable .trackBox {
    width: 60px;
    height: 40px;
    font-size: 0.8em;
    text-align: center;
    vertical-align: top;
    cursor: pointer;
}

#trackerTable .checkWrapper {
    min-height: 22px;
}

#trackerTable tr .goalTitle {
    width: 140px;
    height: 40px;
    text-align: right;
    padding-right: 8px;
}

#trackerTable tr .goalTitle span {
    font-size: 1.1em;
    cursor: pointer;
}
div#new_goal{
    border:1px solid #bdf;
    position: absolute;
    top:20px;
    padding:30px;
    background-color: #F5F5DC;
    font-size: 13px;
    display: none;
}
div#new_goal div#buttons{
    padding-left: 60px;
    margin-top: 40px;
}
