.check {
    width: 16px;
    height: 16px;
    background: url(/static/img/plus.gif);
    display: inline-block;
}

#container .right-nav {
    float: right;
}

.text-center {
    text-align: center;
}
.logged-out-actions h2 {
    display: inline-block;
}

.inner-header {
}

body.login .logged-out-actions, body.signup .logged-out-actions {
    display: none;
}

#container {
    width: 800px;
    margin: 40px auto 0px auto;
    border-radius: 6px;
    padding: 10px;
}

#container .home {
    margin-top: -2em;
}

div.error {
    background: red;
}

#trackerTable {
    width: 728px;
    margin: auto;
}

#trackerTable td {
    border: 2px solid #bdf;
}

#trackerTable td:last-child {
    border: 2px solid wheat;
}

#trackerTable tr td {
    background: white;
}

#trackerTable tr:nth-child(even) td {
    background: #F5F5DC;
}

#trackerTable tr td:first-child {
    background: #bdf;
}

#trackerTable .trackBox {
    width: 60px;
    height: 40px;
    font-size: 0.8em;
    text-align: center;
    cursor: pointer;
}

#trackerTable tr .goalTitle {
    width: 140px;
    height: 40px;
    text-align: right;
    padding-right: 8px;
}

#trackerTable tr .goalTitle span {
    font-size: 1.1em;
    cursor: pointer;
}
div#new_goal{
    border:1px solid #bdf;
    position: absolute;
    top:20px;
    padding:30px;
    background-color: #F5F5DC;
    font-size: 13px;
    display: none;
}
div#new_goal div#buttons{
    padding-left: 60px;
    margin-top: 40px;
}
